  #body {
    background-color: #fff;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .divider {
    height: 100px;
  }

  #headerTextDiv {
    text-align: center;
  }

  .sectionHeader {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
  }

  h2 {
    width: 80%;
    margin: 0 auto;
  }

  .container {
    display: flex;
  }

  #buttonDiv {
    text-align: center;
  }

  #buttonDiv button {
    width: 80px;
    //color: white;
    margin: 20px;
  }



  
  #infoBox {
    //margin: 0 auto;
  }
  
  #infoBoxRegister {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  ul {
    list-style: none;
  }

  button {
    background-color: #f79a7e;
    color: black;
    border-radius: 4px;
    border: 2px solid #f79a7e;
    cursor: pointer;
  }
  
  a {
    color: #f79a7e;
  }

  form {
    padding-top: 0px;
    margin: 0;
  }

  .ant-form-item {
    margin: 0;
    padding-bottom: 24px;
  }

  #registerContactFormContainer {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
  }




    /* iPads (portrait and landscape) ----------- */
@media only screen and (max-width: 1024px) {
  /* Styles */

  #buttonFormControl {
    text-align: center;
  }

  }



  /* Smartphones (portrait) ----------- */
@media only screen and (max-width : 380px) {
  /* Styles */

  .sectionHeader {
    font-size: 35px;
    font-weight: 500;
    margin: 0;
  }

  #infoBoxRegister {
    width: 80%;
    margin: 0 auto;
  }

  .ant-col-offset-6 {
    margin: 0;
  }

  button {
    margin: 0 auto;
  }

  

  }