  div {
    background-color: #fff;
    /* max-height: fit-content;
    text-align: center; */
  }

  .divider {
    height: 100px;
  }

  #headerTextDiv {
    text-align: center;
  }

  .sectionHeader {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
  }

  h2 {
    width: 80%;
    margin: 0 auto;
  }

  .container {
    display: flex;
  }

  #buttonDiv {
    text-align: center;
  }

  #buttonDiv button {
    width: 80px;
    //color: white;
    margin: 20px;
  }

  #packagesDiv {
    text-align: center;
    padding-bottom: 30px;
  }

  #packagesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .package {
    margin: 10px;
    height: max-content;
    transition: transform .3s;
  }

  .package:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.1);
  }

  #orderFormPackageInfo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  #overviewContainer {
    width: 80%;
    margin: 0 auto;
  }

  #changeableContentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  #orderOverview {
    width: 60%;
    justify-content: left;
    margin-right: 20px;
  }

  #contactOverview {
    width: 40%;
    justify-content: left;
    margin-left: 20px;
  }

  #contactSelectionRadioButtonContainer {
    margin-bottom: 40px;
  }

  [nz-radio] {
    display: block;
  }

  #checkBoxContainer {
    margin-top: 50px;
  }

  .completeCheckBox {
    display: flex;
  }

  .checkBox {
    margin-right: 10px;
  }

  #orderButtonContainer {
    width: 100%;
    text-align: center;
  }

  #orderButton {
    margin: 30px auto;
    width: 200px;
    height: 50px;
  }

  #infoBox {
    //margin: 0 auto;
  }
  
  #infoBoxRegister {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  ul {
    list-style: none;
  }

  button {
    background-color: #f79a7e;
    color: black;
    border-radius: 4px;
    border: 2px solid #f79a7e;
    cursor: pointer;
  }
  
  a {
    color: #f79a7e;
  }

  form {
    padding-top: 0px;
    margin: 0;
  }

  .ant-form-item {
    margin: 0;
    padding-bottom: 24px;
  }

  #registerContactFormContainer {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
  }