<div id="body">
  <div id="wrapper">

    <div id="headerTextDiv">
      <p class="sectionHeader">Kontaktformular</p>
    </div>
  
    <div>
      <div id="container">
        
  
        <!-- CUSTOMER IS REGISTERED -->
        
          <!-- CUSTOMER IS NOT REGISTERED -->
          <div id="registerContactFormContainer">
            <div>
              <div id="infoBoxRegister">
                <p>Vielen Dank, dass Sie bill.less nutzen möchten.</p>
                <div>
                  <p>
                    Um den digitalen Beleg an der Kasse auszugeben sind folgende
                    Bedingungen notwendig:
                  </p>
                  <ul>
                    <li>1. Ihre Kasse verfügt über ein Kundendisplay</li>
                    <li>
                      2. Sie haben eine stabile Internetverbindung (mind. 50
                      MBit/s)
                    </li>
                    <li>
                      3. Sie haben die Lizenzdatei für das Modul "Elektronischer
                      Kassenbeleg / bill.less" von CAS erworben ist auf der Kasse
                      installiert
                    </li>
                  </ul>
  
                  <p>
                    Wir leiten Ihre Anfrage zum Erwerb des Moduls gerne an CAS
                    weiter. Bitte füllen Sie uns hierzu das nachfolgende
                    Kontaktformular aus: Bei Unklarkeiten wenden Sie sich bitte an
                    Ihren zuständigen Kassenhändler.
                  </p>
                </div>
              </div>
              <form nz-form [formGroup]="registerForm" (ngSubmit)="handleSubmitRegisterForm()">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
                    <span>Name</span>
                  </nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Bitte einen Namen eingeben!">
                    <input nz-input id="name" formControlName="name" />
                  </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="companyName" nzRequired>
                    <span>Unternehmensname</span>
                  </nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Bitte einen Unternehmensnamen eingeben!">
                    <input nz-input id="companyName" formControlName="companyName" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="street" nzRequired>
                    <span>Straße</span>
                  </nz-form-label>
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Bitte einen Straßenamen eingeben!"
                  >
                    <input nz-input id="street" formControlName="street" />
                  </nz-form-control>
                </nz-form-item>
          
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="houseNumber" nzRequired>
                    <span>Hausnummer</span>
                  </nz-form-label>
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Bitte eine Hausnummer eingeben!"
                  >
                    <input nz-input id="houseNumber" formControlName="houseNumber" />
                  </nz-form-control>
                </nz-form-item>
          
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="postCode" nzRequired>
                    <span>Plz</span>
                  </nz-form-label>
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Bitte eine Postleitzahl eingeben!"
                  >
                    <input nz-input id="postCode" formControlName="postCode" />
                  </nz-form-control>
                </nz-form-item>
          
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="city" nzRequired>
                    <span>Ort</span>
                  </nz-form-label>
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Bitte einen Ortsnamen eingeben!"
                  >
                    <input nz-input id="city" formControlName="city" />
                  </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                    <input nz-input formControlName="email" id="email" />
                  </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="registerForm.controls['phoneNumber']"
                    nzErrorTip="Please input your phone number!">
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                      <ng-template #addOnBeforeTemplate>
                        <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                          <nz-option nzLabel="+49" nzValue="+49"></nz-option>
                        </nz-select>
                      </ng-template>
                      <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
  
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="seriennummer" nzRequired
                    nzTooltipTitle="Die Seriennummer wird benötigt um zu überprüfen, ob Ihre Kasse den Anforderungen entspricht und die bill.less Funktion freizuschalten">
                    <span>Seriennummer</span>
                  </nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Bitte Seriennummer eingeben!">
                    <input nz-input id="serialNumber" formControlName="serialNumber" />
                  </nz-form-control>
                </nz-form-item>
  
                <nz-form-item id="" nz-row class="register-area">
                  <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <label nz-checkbox formControlName="agree">
                      <span>
                        Sie geben sich damit einverstanden, dass die angegebenen
                        Daten nach Maßgabe unserer Datenschutzrichtlinie
                        elektronisch erhoben und gespeichert werden. Ebenfalls
                        stimmen Sie zu, dass wir die Daten an die CAS Software AG
                        weiterleiten dürfen. Die Daten werden dabei nur streng
                        zweckgebunden genutzt. Diese Einwilligung kann jederzeit
                        durch eine E-Mail an datenschutz@billless.app widerrufen
                        werden. Im Falle des Widerrufs werden die Daten umgehend
                        gelöscht.
                      </span>
                    </label>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row class="register-area">
                  <nz-form-control id="buttonFormControl" [nzSpan]="14" [nzOffset]="6">
                    <button nz-button>
                      Registrieren
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  </div>