<div id="body" >
  <div id="wrapper" *ngIf="!showContactButtons">
    <div id="mainTextDiv">
      <h1>Digitale Belegausgabe</h1>
      <h2>auf Ihrer CASPOS Kasse</h2>
    </div>

    <img id="casLogo" src="../../../assets/cas.png" alt="" />
    <br />
    <button (click)="navigateToContact()">Jetzt auf der Kasse installieren</button>
    <br />

    <div>
      <p id="casouselDescription">So funktionierts:</p>
      <div id="casouselDiv">
        <nz-carousel [nzAutoPlay]="true" [nzAutoPlaySpeed]="6000">
          <div nz-carousel-content *ngFor="let imageUrl of arrayOfImgUrls">
            <img class="diashowPic" [src]='imageUrl' />
          </div>
        </nz-carousel>
      </div>
    </div>
    

    <div class="dividerSmall">

    </div>

    <div id="advantagesBody">
      <p class="sectionHeader">Die Vorteile</p>
      <div class="container" id="container3">
        <div class="formedDiv">
          <div class="upperRoundedDiv">
            <img class="advantageIcon" src="../../../assets/save.png" alt="" />
          </div>
          <div class="advantageContainer">
            <p class="advantageName">Gut für die Umwelt</p>
            <div>
              <p class="advantageDescription">Kein Ausdruck von unnötigen Belegen die im Müll landen</p>
            </div>
          </div>
        </div>
        <div class="formedDiv">
          <div class="upperRoundedDiv">
            <img class="advantageIcon" id="timeIcon" src="../../../assets/time-is-money.png" alt="" />
          </div>
          <div class="advantageContainer">
            <p class="advantageName">Kosten & Zeit <br> einsparen</p>
            <div>
              <p class="advantageDescription">für das Handling mit den Belegrollen</p>
            </div>
          </div>
        </div>
        <div class="formedDiv">
          <div class="upperRoundedDiv">
            <img class="advantageIcon" src="../../../assets/online-payment.png" alt="" />
          </div>
          <div class="advantageContainer">
            <p class="advantageName">Kontaktloser <br> Belegempfang</p>
            <div>
              <p class="advantageDescription">für einen komplett digitalen Bezahlprozess</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button (click)="navigateToContact()">Jetzt auf der Kasse installieren</button>

    <div class="dividerSmall">

    </div>


    <div id="contactSectionBody">
      <p class="sectionHeader">
        Sie haben Fragen? <br />
        Sprechen Sie uns an!
      </p>
      <div class="container" id="container2">
        <div class="contactInformation">
          <img src="../../../assets/telefon.png" alt="" />
          <p>+49 162 9573494</p>
        </div>
        <div class="contactInformation">
          <img src="../../../assets/email.png" alt="" />
          <p>info@billless.app</p>
        </div>
      </div>
    </div>

    <div class="divider">

    </div>

    <div id="packagesBody">
      <p class="sectionHeader">Die Packete</p>
      <div class="container" id="packageContainer">
        <div class="packageDiv">
          <img class="packagePic" src="../../../assets/starter.png" alt="">
        </div>

        <div class="packageDiv">
          <img class="packagePic" src="../../../assets/basic.png" alt="">
        </div>

        <div class="packageDiv">
          <img class="packagePic" src="../../../assets/classic.png" alt="">
        </div>

        <div class="packageDiv">
          <img class="packagePic" src="../../../assets/premium.png" alt="">
        </div>

        <div class="packageDiv">
          <img class="packagePic" src="../../../assets/enterprise.png" alt="">
        </div>
      </div>

      

    </div>

    <div class="divider">

    </div>

    <div id="furtherInformationBody">
      <div>
        <p class="sectionHeader" id="furtherInformationHeader">Weitere Informationen</p>
        <p id="furtherInformationSubHeader">zum Download</p>
        <div class="container" id="container2">

          <div class="furtherInformationDownloadDiv">
            <a href="../../../assets/Funktionsweise an der Kasse.pdf" download="">
              <img src="../../../assets/auf-speicherlaufwerk-herunterladen.png" alt="">
            </a>
            <div>
              <ul>
                <li>Funktionsweise:</li>
                <li id="costInfo">an der Kasse</li>
              </ul>
            </div>
          </div>

          <div class="furtherInformationDownloadDiv">
            <a href="../../../assets/Preisblatt _April 2021.pdf" download="">
              <img src="../../../assets/auf-speicherlaufwerk-herunterladen.png" alt="">
            </a>
            <div>
              <ul>
                <li>Preisliste:</li>
                <li id="costInfo">Stand: April 2021</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="divider">

    </div>

    <div id="faqBody">
      <div>
        <p id="faqHeader">FAQ</p>
        <div class="accordion">
          <div class="accordionItem" id="question1">
            <hr>
            <div class="faqQuestion">
              <a class="accordionLink" href="#question1">Welche Bedingungen muss ich erfüllen um das Modul “elektronischer Kassenbeleg / bill.less” nutzen zu können? </a>
              <div class="answer">
                <p>Um den digitalen Beleg an der Kasse auszugeben sind folgende Bedingungen notwendig:</p>
                <ul id="faqList">
                  <li>1. Die Kasse muss über über ein Kundendisplay verfügen</li>
                  <li>2. Eine stabile Internetverbindung (mind. 50 MBit/s)</li>
                  <li>3. Die Lizenzdatei für das Modul "Elektronischer Kassenbeleg / bill.less" von CAS muss erworben und auf der Kasse installiert worden sein.</li>
                </ul>
              </div>
            </div>

          </div>

          <div class="accordionItem" id="question2">
            <hr>
            <div class="faqQuestion">
              <a class="accordionLink" href="#question2">Ich möchte das Modul “elektronischer Kassenbeleg / bill.less” nutzen, was muss ich tun?</a>
              <div class="answer">
                <p>Zunächst muss die Lizenzdatei für das Modul bei CAS erworben und auf der Kasse installiert werden. Hierzu an den zuständigen Kassenhändler wenden oder <a class="coloredLinks" (click)="navigateToRegister()">dieses Formular</a> ausfüllen.</p>
                <p>Wenn die Lizenzdatei bereits auf der Kasse installiert ist, kann <a class="coloredLinks" (click)="navigateToSubscription()">hier</a> ein entsprechendes bill.less Paket gekauft werden. </p>
              </div>
            </div>
          </div>

          <div class="accordionItem" id="question3">
            <hr>
            <div class="faqQuestion">
              <a class="accordionLink" href="#question3">Erfülle ich mit dem Modul “elektronischer Kassenbeleg / bill.less” die Belegausgabepflicht?</a>
              <div class="answer">
                <p>Seit gilt die Belegausgabepflicht nach § 146a (2) AO, die besagt, dass jeder Beleg erstellt und ausgegeben werden muss. Nach diesem Gesetz kann die Belegbereitstellung auch über einen QR-Code auf dem Kundendisplay erfolgen.</p>
                <p>Mit dem Modul ist die Belegausgabepflicht erfüllt. Der Beleg wurde elektronisch als PDF erstellt und digital über die Anzeige des QR-Codes auf dem Kundendisplay zur Verfügung gestellt.</p>
              </div>
            </div>      
          </div>

          <div class="accordionItem" id="question4">
            <hr>
            <div class="faqQuestion">
              <a class="accordionLink" href="#question4">Welche Kündigungsfrist muss ich einhalten?</a>
              <div class="answer">
                <p>Das bill.less Paket ist mit einer monatlichen Frist zum Ende jenes Quartals kündbar.
                  Ausnahme: Das Starter-Paket kann jederzeit gekündigt werden.
                </p>
                <p>Die Kündigung ist schriftlich per Mail an info@billless.app einzureichen.</p>
              </div>
            </div>
          </div>

          <div class="accordionItem" id="question5">
            <hr>
            <div class="faqQuestion">
              <a class="accordionLink" href="#question5">Wann erhalte ich die Rechnung?</a>
              <div class="answer">
                <p>Die erste Rechnung wird sofort nach Vertragsabschluss für das laufende Quartal ausgestellt. 
                  Alle weiteren Rechnungen werden zu Beginn jenes Quartals erstellt                  
                </p>
              </div>
            </div>
          </div>

        </div>




      </div>
    </div>


  </div>

</div>