#body {
    background-color: #fff;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

.divider {
    height: 120px;
}

.dividerSmall {
    height: 80px;
}

h1 {
    font-size: 70px;
    font-weight: 500;
    margin: 0;
    padding: 10px 0 0 0;
    border:0;
    outline:0;
}

h2 {
    font-size: 35px;
    font-weight: 300;
}

#casLogo {
    width: 450px;
    margin-top: 10px;
    margin-bottom: 3rem;
}

button {
    background-color: #f79a7e;
    color: black;
    border-radius: 15px;
    border: 2px solid #f79a7e;
    cursor: pointer;
    width: 350px;
    height: 60px;
    margin: 2rem;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
}

#casouselDescription {
    margin: 50px 0 0 0;
    text-align: left;
    padding-left: 15%;
    font-size: 30px;
    font-weight: 400;
}

.carouselContainer {
    display: block;
    height: 450px;
    width: 800px;
    padding: 2em;
    margin: 0 auto;
  }

.sectionHeader {
    font-size: 35px;
    font-weight: 400;
}

#advantagesBody {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding-bottom: 70px;
}

.upperRoundedDiv {
    height: 30%;
    width: 12vw;
    background-color: #94a4aac9;
    border-radius: 120px 120px 0 0;
    margin: 0 auto;
}

.advantageContainer {
    height: 300px;
    width: 80%;
    border-radius: 30px;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: #94a4aac9;
}

.advantageContainer div{
    width: 80%;
    margin: 0 auto;
}

.advantageIcon {
    margin-top: 25px;
    width: 40%;
    padding-bottom: 10px;
}

.formedDiv {
    margin: 0;
    width: 33.3333333333333%;
}

.formedDiv #timeIcon {
    width: 50%;
}

.advantageName {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.advantageDescription {
    padding-top: 15px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#contactSectionBody {
    background-color: #f0efe6;
    margin-top: 40px;
    padding-top: 30px;
}

.contactInformation {
    text-align: center;
    margin-bottom: 80px;
    width: 50%;
}

.contactInformation > *{
    text-align: center; 
    display: inline-flex; 
}

.contactInformation img{
    width: 70px;
}

.contactInformation p{
    font-size: 40px;
    padding: 0 0 0 50px;
}

#packagesBody {
    width: 80%;
    margin: 0 auto;
}

#packageContainer {
    justify-content: center;
}

.packageDiv {
    width: 20%;
}

.packagePic {
    width: 100%;
}



.packageNameDiv {
    background-color: #143d42;
    color: #fff;
    border-radius: 20px 20px 10px 10px;
    height: 110px;
    line-height: 110px;
    width: 80%;
    margin: 0 auto;
}

.packageNameDiv p {
    font-size: 30px;
    font-weight: 400;
}

.packageInfoDiv {
    background-color: #b0cace;
    border-radius: 10px 10px 20px 20px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
}

.packageInfoDiv li {
    font-size: 25px;
    padding: 20px 0 0 0;
}

.packagePrice {
    font-weight: 500;
}

#additionalContent {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 30px
}

#additionalInfo {
    width: 28%;
    height: fit-content;
    background-color: #f0efe6;
}

#infoWrapper {
    width: 70%;
    margin: 10px auto;
}

#infoHeader {
    font-size: 1.4vw;
    font-weight: bolder;
    line-height: 1.8vw;
}

#infoDescription {
    font-size: 1vw;
    line-height: 1.2vw;
}

#additionalOptions {
    background-color: #f0efe634;
    width: 100%;
    margin-left: 30px;
    padding-top: 20px;
}

.option {
    display: flex;
    text-align: left;
}

.option p {
    //width: 40%;
    padding-left: 20px;
}

.optionHeader {
    font-size: 1.2vw;
    font-weight: bold;
    width: fit-content;
}

.optionDescription {
    font-size: 1.2vw;
}



#furtherInformationHeader {
    margin: 0;
}

#furtherInformationSubHeader {
    margin: 0;
    font-size: 35px;
}

.furtherInformationDownloadDiv {
    margin: 20px 0;
    width: 50%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}


.furtherInformationDownloadDiv img {
    height: 80px;
    padding-right: 20px;
}

.furtherInformationDownloadDiv ul {
    text-align: left;
}

.furtherInformationDownloadDiv li {
    font-size: 35px;
}

.furtherInformationDownloadDiv #costInfo {
    font-size: 20px;
}

#faqBody {
    background-color: #143d42;
    color: #fff;
    margin: 0;
    padding-bottom: 50px;
}

#faqHeader {
    font-size: 35px;
    padding-top: 30px;
}

#faqBody > div {
    margin: 0 auto;
    width: 80%;
}

#faqList {
    text-align: left;
}

hr {
    color: #fff;
}

.accordionItem {
    text-align: left;
    margin-bottom: 40px;
}

.accordionItem:target .answer {
    max-height: fit-content;
}

.accordionLink {
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
    height: fit-content;
}

.answer p {
padding-top: 10px;
}

.answer::before {
    content: "";
    position: absolute 
}

a {
    color: #fff;
}

.coloredLinks {
    color: #f79a7e;
}

.ant-layout > * {
    margin: 0;
    padding: 0;
    box-sizing: unset;
    background-color: violet;
}


@media only screen and (max-width: 1200px) {
    /* * {
        color: #f79a7e;
    } */

    #casouselDescription {
        text-align: center;
        padding: 20px 0 20px 0;
    }

    nz-carousel {
        height: 50vw;
        color: #143d42;
    }
      
    .diashowPic {
        height: 50vw;
        margin: 0 auto;
    }

    button {
        width: 80%;
        font-size: 4vw;
    }

    iframe {
        width: 80vw;
        height: 50vh;
    }

    .formedDiv {
        width: 50%;
        min-height: fit-content; 
        margin: 0 auto;
    }

    .upperRoundedDiv {
        height: 25%;
        width: 50%;
        background-color: #94a4aac9;
        border-radius: 120px 120px 0 0;
        margin: 0 auto;
    }

    .advantageContainer {
        //height: 220px;
        padding-bottom: 10px;
        min-height: fit-content; 
    }

    .advantageName {
        
        font-size: 3vw;
        font-weight: 600;
    }
    
    .advantageDescription {
        padding-top: 10px;
        font-size: 25;
    }

    #contactSectionBody {
        width: 100%
    }

    .contactInformation {
        padding: 10px;
    }

    .contactInformation p {
        padding: 0;
        font-size: 30px;
    }

    .contactInformation img {
        width: 15%;
        padding-right: 10px;
    }

    .packageDiv {
        width: 30%;
        margin-top: 20px;
    }

    #additionalContent {
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
    }

    #additionalInfo {
        width: 40%;
        padding-top: 10px;
        height: 18vw;
    }

    #infoHeader {
        font-size: 2vw;
        line-height: 2.2vw;
    }

    #infoDescription {
        font-size: 1.5vw;
        line-height: 2vw;
    }

    .optionHeader {
        font-size: 1.8vw;
    }

    .optionDescription {
        font-size: 1.8vw;
    }




    .furtherInformationDownloadDiv {
        display:inline-block; 
    }
    .furtherInformationDownloadDiv ul {
        text-align: center;
    }
    
    
    
}

@media only screen and (max-width: 600px) {

    .diashowPic {
        margin: 0 auto;
    }

    .formedDiv {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .advantageContainer {
        padding-bottom: 10px;
        min-height: fit-content;
    }

    .upperRoundedDiv {
        height: 20%;
        width: 180px;
        background-color: #94a4aac9;
        border-radius: 120px 120px 0 0;
        margin: 0 auto;
    }
    
    .advantageIcon {
        margin-top: 20px;
        width: 40%;
        padding-bottom: 50px;
    }
    

    .upperRoundedDiv {
        height: 30%;
        width: 160px;
        background-color: #94a4aac9;
        border-radius: 120px 120px 0 0;
        margin: 0 auto;
    }


    #contactSectionBody {
        width: 100%
    }

    .contactInformation {
        padding: 10px;
        width: 90%;
    }

    .contactInformation > * {
        display: block;
        margin: 0 auto;
    }

    .contactInformation p {
        padding: 0;
        font-size: 30px;
    }

    .contactInformation img {
        width: 15%;
        padding-right: 10px;
    }

    .packageDiv {
        width: 40%;
        margin-top: 20px;
    }
    
    .packagePic {
        width: 100%;
    }

    #additionalContent {
        display: block;
    }

    #additionalInfo {
        width: 80%;
        margin: 0 auto;
        height: fit-content;
    }

    #infoHeader {
        font-size: 3.6vw;
        line-height: 5vw;
    }

    #infoDescription {
        font-size: 2.8vw;
        line-height: 4.5vw;
        padding-bottom: 10px;
    }

    #additionalOptions {
        width: 80%;
        margin: 0 auto;
    }

    .option {
        display: block;
    }

    .optionHeader {
        font-size: 3.3vw;
        margin: 0;
        padding-top: 8px;
        padding-bottom: 5px;
    }

    .optionDescription {
        font-size: 2.6vw;
        margin: 0;
    }

    .furtherInformationDownloadDiv {
        width: 100%;
    }

    .faqQuestion {
        padding: 10px 0 0 30px;
    }

    
}


@media only screen and (max-width: 550px) {

    h1 {
        padding: 0;
    }

    button {
        width: 80%;
        height: 60px;
        margin: 0 auto;
    }

    nz-carousel {
        height: 50vw;
        color: #143d42;
    }
      
    .diashowPic {
        height: 50vw;
        margin: 0 auto;
    }

   #mainTextDiv {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        font-size: 45px;
        font-weight: 500;
    }

    h2 {
        font-size: 30px;
    }



    #casLogo {
        width: 80%;
    }

    .formedDiv {
        width: 85%;
        display: block;
        margin: 0 auto;
    }

    .advantageContainer {
        min-height: fit-content;
        height: fit-content;
        padding-bottom: 10px;
    }
    
    .advantageIcon {
        margin-top: 20px;
        width: 40%;
        padding-bottom: 50px;
    }
    

    .upperRoundedDiv {
        height: 30%;
        width: 145px;
        background-color: #94a4aac9;
        border-radius: 120px 120px 0 0;
        margin: 0 auto;
    }

    .advantageName {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }

    .advantageDescription {
        font-size: 15px;
    }

    #furtherInformationSubHeader {
        padding-bottom: 20px;
    }

    .furtherInformationDownloadDiv img {
        height: 60px;
    }

    #contactSectionBody {
        width: 100%
    }

    .contactInformation {
        padding: 10px;
        width: 100%;
    }

    .contactInformation > * {
        margin: 0 auto;
    }

    .contactInformation p {
        padding: 0;
        font-size: 30px;
    }

    .contactInformation img {
        width: 15%;
        padding-right: 10px;
    }

    .packageDiv {
        width: 80%;
        margin-top: 20px;
    }
    
    .packagePic {
        width: 100%;
    }

    #infoWrapper {
        width: 80%;
    }

    #infoHeader {
        font-size: 6vw;
        font-weight: 900;
        line-height: 6.5vw;
    }

    #infoDescription {
        font-size: 4.5vw;
    }

    .optionHeader {
        font-weight: bolder;
        font-size: 6vw;
    }

    .optionDescription {
        font-size: 5vw;
    }

    .furtherInformationDownloadDiv {
        width: 80%;
        margin: 0 auto;
    }

    .faqQuestion {
        padding: 10px 0 0 30px;
    }

    .faqQuestion a {
        font-size: 20px;
    }
    
}