/* You can add global styles to this file, and also import other style files */
/* @font-face {
    font-family: muliBillLess;
    src: url("./fonts/Muli-VariableFont:wght.ttf") format('truetype');
}

* {
    font-family: muliBillLess;
}
 */